<!DOCTYPE html>
<html>

<head>
    <script src="/three.js/three.min.js"></script>

    <!-- Leap Motion Libraries -->
    <script src="/leapmotion/leap-0.6.4.min.js"></script>
    <script src="/leapmotion/leap-plugins-0.1.10.min.js"></script>
    <script src="/leapmotion/leap-widgets-0.1.0.min.js"></script>
    <script src="/leapmotion/leap.rigged-hand-0.1.7.min.js"></script>
    <script src="/leapmotion/leap-plugins-0.1.10-utils.min.js"></script>

    <!-- JQuery Library -->
    <script src="/jquery/jquery-1.11.3.min.js"></script>

    <!-- Chart.js Library -->
    <script src="/Chart.js/Chart.min.js"></script>
    
    <!-- My Script -->
    <script src="changeColor.js"></script>
    <title>COGS 121 - LeapMotion Demo</title>
</head>

<body>
    <h1>COGS 121 Demo</h1>
    <canvas id="leftChart" width="400" height="400"></canvas>
    <canvas id="rightChart" width="400" height="400"></canvas>
</body>

</html>
